{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user_obj.username }}'s profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="avatar">
                {% if user_obj.profile.avatar %}
                    <img src="{{ user_obj.profile.avatar.url }}" width="200"alt="" class="round">
                {% else %}
                    <img class="round" src="https://kudago.com/static/img/default-avatar.png"
                         width="200"alt="">
                {% endif %}
            </div>
            <div class="profile_menu">
                <h2>{{ user_obj.username }}
                    {% ifequal user user_obj %}
                        <a class="btn btn-primary mt-2" href="{% url "profile_edit" user_obj.pk %}">
                            Edit account <i class="bi bi-pencil-square"></i>
                        </a>
                    {% else %}
                    <form action="{% url "follower-gateway" user_obj.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary mt-2" type="submit" name="user_id" value="{{ user_obj.id }}">
                            {% if user in user_obj.profile.followers.all %}
                                unfollow
                            {% else %}
                                follow
                            {% endif %}
                        </button>
                    </form>
                    {% endifequal %}
                </h2>
                <div class="profile_counters">
                    <h5><b>{{ user_obj.posts.all.count }}</b> posts</h5>
                    <h5><b>{% if user_obj.followers.count %}{{ user_obj.profile.followers.count }}{% else %}0</b> followers</h5>{% endif %}
                </div>
            <p class="mt-3">{{ user_obj.profile.about }}</p>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row row-cols-3 row-cols-md-3 mt-3">
        {% for post in user_obj.posts.all %}
          <div class="col mb-4 text-center">
              <a href="{% url "detail_post" post.pk %}"><img src="{{ post.picture.url }}" class="square card-img-top" alt="..."></a>
          </div>
        {% endfor %}
    </div>
{% endblock %}